.graph-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;

    background: linear-gradient(180deg, rgba(118, 167, 220, 0.1) 0%, rgba(177, 205, 251, 0.1) 100%);
    padding: 2rem 6rem;
}

.graph-text{
    width: 60%;
    text-align: left;
    padding-right: 7rem;
}

.blocks{
    padding: 1rem 0 3rem 0;
}

.button a{
    color: white;
}


.block{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #006DF6;
    background-color: #006DF6;
    color: white;
    font-weight: 600;

    border-radius: 8px;
    padding: 5px 7px;

    margin-left: 0.6rem;
    margin-top: 0.4rem;
}

.graph-images{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.graph-image img{
    height: 20rem;
    /* width: 22rem; */
    border-style: solid;
    border-radius: 2rem;
    border-color: #006DF6;
}

.button button{
    height: 3rem;
    width: 9rem;

    background-color: #003979;
    color: white;

    border-radius: 10px;
    border-width: 0;
}

.button button:hover{
    background-color:  #006DF6;
    cursor: pointer;
}

.mancoin img{
    /* margin-left: 2rem; */
    height: 14rem;
    width: 10rem;
}

@media screen and (max-width: 1025px){

    .graph-div{
        padding: 2rem 3rem;
    }

    .graph-image img{
        height: 20rem;
        width: 15rem;
    }

    .mancoin img{
        height: 12rem;
        width: 8rem;
    }
}

@media screen and (max-width: 914px){
    .graph-div{
        flex-direction: column;
        padding: 2rem 6rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .graph-text{
        text-align: left;
        padding-right: 2rem;
    }

    .graph-images{
        padding-top: 4rem;
    }
    
}

@media screen and (max-width: 800px){


    .graph-image img{
        height: 15rem;
        width: 12rem;
    }

}

@media screen and (max-width: 450px)
{
    .graph-para{
        width: 20rem;
    }

    .graph-images{
        flex-direction: column;
        text-align: center;
    }


}