.backbone-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: 45rem; */

    background: linear-gradient(180deg, rgba(118, 167, 220, 0.2) 0%, rgba(177, 205, 251, 0.2) 100%);
    padding: 4rem 0;
}

.backbone-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.backbone-tabs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dist{
    border-color: none;
    margin: 1rem 0;
    padding: 2px;
}

/* .dist:hover{
    background: linear-gradient(135deg, #006DF6 0%, #FFFFFF 100%);
} */

.selected{
    background-color: #006DF6;
    color: white;
}

.backbone-main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.backbone-image img{
    height: 17rem;
    border-radius: 50%;
}

.backbone-points{
    width: 38rem;
    margin: 0 7rem;
}

@media screen and (max-width: 1248px){

    .backbone-content{
        margin-top: 2rem;
    }

    .backbone-points{
        width: 27rem;
        /* height: 25rem; */
        margin: 0 5rem;
    }

    .backbone-image img{
        height: 15rem;
    }

    .low-width-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 914px) {

    .backbone-content{
        flex-direction: column;
    }

    .backbone-tabs{
        flex-direction: row;
    }

    .backbone-main{
        margin-top: 2rem;
    }

    .tab{
        margin-left: 1rem;
    }

    .backbone-container{
        padding-bottom: 1rem;
    }

    .backbone-image img{
        height: 10rem;
    }
}

@media screen and (max-width: 450px){

    .backbone-content{
        width: 100%;
    }

    .backbone-main{
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 500px;
    }

    .backbone-image img{
        margin-top: 0;
        padding-top: 0;
    }

    .backbone-points{
        width: 20rem;
        margin: 0;     
    }

    .backbone-tabs{
        flex-wrap: wrap;
        width: 100%;
    }
    .dist{
        margin: 0.5rem 0.5rem;
    }

    .tab{
        height: 3rem;
        width: 6rem;
    }
    
}